<div class="config-item">
  <div class="editorHeader row">
    <span class="col-md-7" (click)="toggleEditing();">
      <span>{{ user.name }}</span>
      <span class="badge bg-primary">
        @switch (user.role) {
          @case ('admin') {
            <span>{{ 'Admin' | translate }}</span>
          }
          @case ('receiver') {
            <span>{{ 'Recipient' | translate }}</span>
          }
          @case ('custodian') {
            <span>{{ 'Custodian' | translate }}</span>
          }
          @case ('analyst') {
            <span>{{ 'Analyst' | translate }}</span>
          }
        }
      </span>
      @if (!user.enabled || defualtUsersArr.includes(user.name)) {
        <span class="badge bg-secondary">{{ 'Disabled' | translate }}</span>
      }
    </span>
    <span class="col-md-5 clearfix">
      <span class="float-end">
        @if (!editing && !defualtUsersArr.includes(user.name)) {
          <button class="btn btn-sm btn-outline-secondary" id="edit_user" (click)="toggleEditing();">
            <span>{{ 'Edit' | translate }}</span>
          </button>
        }
        @if (editing && !defualtUsersArr.includes(user.name)) {
          <button class="btn btn-sm btn-primary" id="save_user" [disabled]="editUser.invalid" (click)="saveUser(user);toggleEditing();">
            <span>{{ 'Save' | translate }}</span>
          </button>
        }
        @if (editing && !defualtUsersArr.includes(user.name)) {
          <button class="btn btn-sm btn-outline-secondary" (click)="toggleEditing();">
            <span>{{ 'Cancel' | translate }}</span>
          </button>
        }
        @if (getUserID() !== user.id && !defualtUsersArr.includes(user.name)) {
          <button class="btn btn-sm btn-danger" id="delete_user" (click)="deleteUser(user)">
            <span>{{ 'Delete' | translate }}</span>
          </button>
        }
      </span>
    </span>
  </div>
  @if (editing && !defualtUsersArr.includes(user.name)) {
    <div class="editor">
      <hr />
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input class="form-check-input" [(ngModel)]="user.enabled" type="checkbox" />
            <label>{{ 'Enabled' | translate }}</label>
          </div>
            <div class="form-group">
              <label>{{ 'Language' | translate }}</label>
              <select class="form-select-custom" [(ngModel)]="user.language" [ngModelOptions]="{standalone: true}">
                @for (item of appServiceData.languages_enabled_selector; track item) {
                  <option [value]="item.code">
                    {{ item.name }}
                  </option>
                }
              </select>
            </div>
            <div class="form-group">
              <input class="form-check-input" [(ngModel)]="user.notification" type="checkbox">
              <label>{{ 'Enable email notifications' | translate }}</label>
            </div>
        </div>
      </div>
      @if (user.role === 'receiver') {
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input class="form-check-input" [(ngModel)]="user.forcefully_selected" type="checkbox">
              <label>{{ 'Forcefully selected' | translate }}</label>
            </div>
            <div class="form-group">
              <input class="form-check-input" name="can_mask_information" [(ngModel)]="user.can_mask_information" type="checkbox" />
              <span>{{ 'Give this user ability to mask information' | translate }}</span>
            </div>
            <div class="form-group">
              <input class="form-check-input" name="can_redact_information" [(ngModel)]="user.can_redact_information" type="checkbox" />
              <span>{{ 'Give this user ability to permanently redact masked information' | translate }}</span>
            </div>
            <div class="form-group">
              <input class="form-check-input" name="can_delete_submission" [(ngModel)]="user.can_delete_submission" type="checkbox" />
              <label>{{ 'Allow the recipient to delete reports' | translate }}</label>
            </div>
            @if (!nodeData.can_postpone_expiration) {
              <div  class="form-group">
                <input class="form-check-input" name="can_postpone_expiration" [(ngModel)]="user.can_postpone_expiration" type="checkbox" />
                <label>{{ "Allow the recipient to edit the reports' expiration date" | translate }}</label>
              </div>
            }
            <div class="form-group">
              <input class="form-check-input" name="can_grant_access_to_reports" [(ngModel)]="user.can_grant_access_to_reports" type="checkbox" />
              <label>{{ 'Give this user ability to grant user access to reports' | translate }}</label>
            </div>
            <div class="form-group">
              <input class="form-check-input" name="can_transfer_access_to_reports" [(ngModel)]="user.can_transfer_access_to_reports" type="checkbox" />
              <label>{{ 'Give this user ability to transfer reports to other users' | translate }}</label>
            </div>
            <div class="form-group">
              <input class="form-check-input" name="can_reopen_reports" [(ngModel)]="user.can_reopen_reports" type="checkbox" />
              <label>{{ 'Allow this user to reopen management of a report' | translate }}</label>
            </div>
          </div>
        </div>
      }
      @if (user.role !== 'admin') {
        <div class="row">
          <div class="col-md-12">
            <label>{{ 'Give the user administrative access to the following features:' | translate }}</label>
            <div class="form-group">
              <input class="form-check-input" name="can_edit_general_settings" [(ngModel)]="user.can_edit_general_settings" type="checkbox" />
              <span>{{ 'Settings' | translate }}</span>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
